 <div ng-controller="gameController">
     
        <img usemap="#mapa" src="img/czolowa.png" alt="czolowa"/>
     <map name="mapa" id="mapa">
         <area ng-click="logoOut()" href="#!/tryb/30" shape="poly" coords="40,40,335,65,68,152" alt="30" title="60" />
         <area ng-click="logoOut()" href="#!/tryb/60" shape="poly" coords="82,218,345,107,365,234" alt="60" title="60" />
         <area ng-click="logoOut()" href="#!/tryb/90" shape="poly" coords="92,270,370,300,115,380" alt="90" title="90" />
     </map>     
</div>